* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

:root {
    --standard-size: 1.25em;
    --primary-color: rgb(66, 134, 235);
    --light-primary-color: rgb(155, 188, 249);
    --secondary-color: rgb(48, 93, 160);
    --third-color: #fdb44b;
    --third-color-light: #fac377;
    --third-color-dark: #fbaa38;
}
/* The background Image*/
.background {
    background-image: url(../Images/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

/* The top part */
.top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title {
    text-align: center;
    color: white;
    font-size: 8em;
    margin-bottom: 0;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: white;
    font-style: italic;
}

.button {
    margin-top: auto;
    border-radius: 2em;
    width: 50%;
    padding: 1em;
    text-align: center;
    transition: 0.2s;
    margin-bottom: 1em;
    background-color: var(--third-color);
    border-color: var(--third-color-dark);
    cursor: pointer;
    transition: 0.2s;

}

.button:hover {
    background-color: var(--third-color-light);
}

.button:active {
    background-color: var(--third-color-dark);
}


/* The bottom part */
.bottom {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.feature {
    display: block;
    border-color: black;
    border-style: solid;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3em;
    text-align: center;
    margin: 2em;
}



.text-header{
    font-weight: bold;
    margin: 1em;
}

.text {
    font-style: italic;
    margin: 1em;
    line-height: 2em;
}