* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --standard-size: 1.25em;
    --primary-color: rgb(66, 134, 235);
    --light-primary-color: rgb(155, 188, 249);
    --secondary-color: rgb(48, 93, 160);
    --third-color: #fdb44b;
    --third-color-light: #fac377;
    --third-color-dark: #fbaa38;
}

/* The background Image*/
.background {
    background-image: url(../Images/login_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    
}

/* The center div */
.center {
    width: 23em;
    height: 30em;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.center-style {
    border-color: black;
    border-style: solid;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3em;
}

/* login text */

.login {
    text-align: center;
    font-size: 2.25em;
}

/* The form */
.form {
    position: absolute;
    text-align: center;
    width: 100%;
}

.input {
    background-color: white;
    border-radius: 2em;
    width: 50%;
    padding: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    border-style:inset;
    border-width: 2px;
    border-color: grey; 
}

.submit {
    border-radius: 2em;
    width: 33%;
    padding: 1em;
    text-align: center;
    background-color: var(--third-color);
    border-color: var(--third-color-dark);
    cursor: pointer;
    transition: 0.2s;
}

.submit:hover {
    background-color: var(--third-color-light);
}

.submit:active {
    background-color: var(--third-color-dark);
}

/* The bottom sign-up */
.sign-up {
    margin-top: 8em;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.no-account {
    font-size: 1em;
}